body{
    /*margen pa fuera*/
    margin: 0;
    /*Margen pa dentro*/
    padding: 0;
    /*tamaño de fuente*/
    font-size: 18px;
    /*fuente de texto*/
    font-family:'Arial Narrow', Arial, sans-serif;
    background-color: rgb(222, 236, 236);
}
header{
    width: 100%;
    height: 55%;
}
header nav{
    display: flex;
    /*Mover mi nav a la derecha*/
    justify-content:flex-end;
}
header nav .nav-right-section{
    /*Eliminar Viñetas*/
    list-style: none;
    width: 250px;
    /*hace  lexible el elemento*/
    display: flex;
    /*Centramos*/
    justify-content: space-between;
    /*Centrado vertical*/
    align-items: center;
    height: auto;
}
nav .nav-right-section a{
    /*Quitar delineado//linea*/
    text-decoration: none;
    /*Color de texto*/
    color:rgb(10, 10, 10);

}
nav .nav-right-section .menu{
    background-image: url(https://img.icons8.com/ios-glyphs/90/000000/circled-menu.png); 
    width: 20px;
    height: 20px;
    /*Tamaño de imagen de fondo-contenida*/
    background-size: contain;
    background-repeat: no-repeat;
}
nav .nav-right-section img{
    /*Margin- right // margen derecho y hacer espacio a la foto*/
    margin-right: 20px;
    border-radius: 100%;
}
/* *********** MAIN******************* */
main{
    /*margin superior*/
    margin-top:10px;
    /*centrar elemento*/
    text-align: center;
}
main .main-logo{
    width: 500px;
    margin: 0 auto;
    margin-bottom: 40px;
}
main .main-logo img{
    height: 250px;
    /*eliminar fondo blanco en imagen para que sea como PNG transparente*/
    filter: brightness(1.1);
    mix-blend-mode: multiply;
}
/*INPUT SECTION*/
main .main-input{

    /*anchura*/
    width: 530px;
    /*centar mi elemento*/
    margin: 0 auto;
}
main .main-input-container{
    width: 500px;
    border: 1px solid #dfe1e5;
    border-radius: 35px;
    background-color: white;
} 
main .main-input input{
    height: 45px;
    border: none;
    outline: none;
    width: 400px;
}
main .main-input .search-icon{
    background-image: url(https://seekicon.com/free-icon-download/search_20.svg);
    background-size: contain;
    background-position: center;
    padding-left: 6%;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    margin-left: 10px;
}
main .main-input .micro-icon{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/726px-Google_mic.svg.png);
    width: 25px;
    height: 25px;
    background-size: contain;
    background-position: center;
    padding-left: 10px;
    background-repeat: no-repeat;
}
main .main-input .cam-icon{
   
    background-image: url(https://static.wikia.nocookie.net/logopedia/images/2/2b/Google_Lens_2021.svg);
    width: 25px;
    height: 25px;
    background-size: contain;
    background-position: center;
    padding-left: 6%;
    background-repeat: no-repeat;
    margin-right: 10px;
}
main .main-input-container:hover{
    box-shadow: 0 1px 6px #a7afbd;
    border-color: #dfe1e500;
}
/*Main Buttons section*/ 
main .main-buttons{
    width: 550px;
    margin: 0 auto;
}
main .main-buttons div{
    display: inline;
}
main .main-buttons button{
    margin-top: 30px;
    border: none;
    height: 40px;
    background-color: #f8f9fa;
    color: #3c4043;
    border-radius: 5px;
    padding: 0px 15px;
    font-size: 16px;
    margin-right: 10px;
    
}
main .main-buttons button:hover{
    color: #202124;
    border: 1px solid #dadce0;
    box-shadow: 0 1px 1px 1px rgba(0,0,0,.1);
}
footer .mexico{
    width: 100%;
    padding: 10px;
    margin-block-end: auto;
    border-bottom: 1px solid #5c6f92;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-self: left;

}
footer{

    width: 100%;
    height: 15%;
    background-color: #cae0f8;
    position: absolute;
    bottom: 0;
    display: grid;
    align-items: center;
    /*tamaño de fuente*/
    font-size: 18px;
    /*fuente de texto*/
    font-family:'Arial Narrow', Arial, sans-serif;
    /*border-top: 1px solid #d2e4f7;*/
}
footer ul{
    /*background-color: #cae0f8;*/
    grid-template-columns: 1fr 1fr;
    position: absolute;
    bottom: 0;
    display: grid;
    align-items: center;
    padding: 20px;
    margin-block-end: auto;
    list-style: none;
    display: flex;
    padding-left: 0px;
   
}
footer .footer_left{
    justify-self: left;
}
footer .footer_right{
    justify-self: right;
}
footer ul li a{
    margin: 10px;
    color: #0b0c0c;
    text-decoration: none;
   
}